
/* ==========================================================================
	GENERAL DEFINITIONS
   ========================================================================== */

html {
	box-sizing: border-box;
	font-size: 100%;
}

html, body  {
	margin: 0px;
	padding: 0px;
	height: 100%;
    background: #EDEEF0;
    font-family: 'PT Sans', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}



/*============================== solves the floating element clear problem ==============================*/

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.valigner {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.valigner ~ * {
    vertical-align: middle;
    display: inline-block;
}

.error {
    margin-top: 10px;
    color: #FD5F5E;
}


/* ==========================================================================
	LOGIN Panel
   ========================================================================== */

#login {
    background: #EDEEF0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: 999;
    text-align: center;
}

#login h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#login-form-wrapper {
    text-align: left;
}

/* DEPRECATED BECAUSE WE ARE USING JQEURY-UI NOW

input[type='text'], 
input[type='email'],
input[type='password'],
textarea,
#login button,
#login input[type="submit"] {
    border: 2px solid rgb(40, 40, 47);
    padding: 5px;
    float: right;
    background: transparent;
    margin-left: 15px;
}
*/

#login button,
#login input[type="submit"] {
    font-weight: 400;
    border-width: 4px;
} 

.validation-message {
    color: orangered;
}

.success-message {
    color: green;
}

.avatar-wrapper {
    width: 125px;
    height: 125px;
    margin: 0px auto;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-wrapper img {
    height: 100%;
}


/* ==========================================================================
	CHAT Panel
   ========================================================================== */

#chat-wrapper,
#rooms-wrapper {
    height: 100%;
    min-height: 100%;
}

#chat-wrapper {
    width: 80%;
    min-width: 80%;
    float: left;
}

#rooms-wrapper {
    width: 20%;
    min-width: 20%;
    float: right;
    background: #929aa3;
}

#chat-wrapper footer {
    width: 80%;
}

#rooms-wrapper footer {
    width: 20%;
    right: 0;
}

#chat-wrapper #messages,
#rooms-wrapper #rooms {
    height: 92.5%;
    padding: 15px;
    overflow-y: auto;
    margin: 0;
}

.avatar-wrapper.small {
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
}

#rooms-wrapper #rooms {
    width: 100%;
    right: 0;
}

#messages li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}

#messages li:first-child {
    margin-top: 0;
}

#messages li:last-child {
    margin-bottom: 0;
}

#messages .message {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    zoom: 1;
    color: #FFFFFF;
    vertical-align: top;
    max-width: 75%;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #3DA3A2;
    box-shadow: 0 2px 0px #267573;
}

/*background: #507299; box-shadow: 0 2px 0px #374f6b;

border-color: #507299 #507299 transparent transparent;
*/

#messages .message:before {
    content: '';
    position: absolute;
    width: 0;
	height: 0;
	left: -9px;
    top: 25px;
	border-width: 5px;
	border-style: solid;
    border-color: #3DA3A2 #3DA3A2 transparent transparent;
}

#messages .timestamp {
    font-size: 0.75em;
    margin-top: 10px;
}


/*============================== OWN MESSAGE ==============================*/

.message-wrapper.own .username {
    float: right;
}

.message-wrapper.own .timestamp {
    text-align: right;
}

.message-wrapper.own .message {
    float: right;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 5px;
}

.message-wrapper.own .message:before {
	right: -9px !important;
    left: auto !important;
    border-color: #3DA3A2 transparent transparent #3DA3A2 !important;
}

.message-wrapper.own .avatar-wrapper.small {
    float: right;
}


/*============================== DIRECT MESSAGE ==============================*/

.message-wrapper.direct .message {
    background: #507299 !important; 
    box-shadow: 0 2px 0px #374f6b !important;
}

.message-wrapper.own.direct .message:before {
    border-color: #507299 transparent transparent #507299 !important;
}

.message-wrapper.direct .message:before {
    border-color: #507299 #507299 transparent transparent !important;
}


/*============================== USER JOINS/LEFT CHAT ==============================*/

.joined,
.left,
.users {
    line-height: 0em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-style: italic;
    color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    text-shadow: 7px 0px 0px #EDEEF0, 
        6px 0px 0px #EDEEF0, 
        5px 0px 0px #EDEEF0, 
        4px 0px 0px #EDEEF0, 3px 0px 0px #EDEEF0, 2px 0px 0px #EDEEF0, 1px 0px 0px #EDEEF0, 1px 0px 0px #EDEEF0, 0px 0px 0px #EDEEF0, -1px 0px 0px #EDEEF0, -2px 0px 0px #EDEEF0, -3px 0px 0px #EDEEF0, -4px 0px 0px #EDEEF0, -5px 0px 0px #EDEEF0, -6px 0px 0px #EDEEF0, -7px 0px 0px #EDEEF0;
}

.left {
    text-align: right;
}

.users {
    margin-top: 10px !important;
    border: 1px solid #c0c0c0;
}

.joined span,
.left span {
    font-style: normal;
}

.joined span,
.users span {
    float: right;
}

.left span {
    float: left;
}

.users div {
    line-height: 1.25em;
}

.users div:first-child {
    margin-top: 20px !important;
}

.users div:last-child {
    margin-bottom: 20px;
}

.users div:only-child {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*============================== ROOMS ==============================*/

#rooms {
    list-style-type: none;
}

#rooms .room:not(.current) {
    cursor: pointer;
}

#rooms button {
    width: 100%;
    padding: 5px;
    background: none;
    border: 2px solid rgb(40, 40, 47);
}

#rooms .room {
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: #4B515B;
    
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#rooms .room:not(.current):hover {
    color: #EDEEF0;
}

#rooms .room:last-child {
    margin-bottom: 0;
}

.room.current {
    font-weight: bold;
    font-size: 1.75em;
    color: #EDEEF0 !important;
    transition: all 0.1s ease-out;
    margin-left: 15px;
}

.room.current:before {
    content: '»';
    margin-right: 15px;
}


/* ==========================================================================
	FOOTER -> Chat messages, etc.
   ========================================================================== */

#upload {
    height: 0.5%;
    background: #FD5F5E;
    width: 0%;
}

footer {
    height: 7%;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
}

footer > button {
    display: inline-block;
}

footer > button > i {
    font-size:  1.5em !important;
}

footer form {
    display: inline-block;
    height: 100%;
    width: 90%;
}

footer form input[type='text'] {
    height: 100%;
    width: 90%;
    border: 0px;
    padding: 15px;
    font-family: 'PT Sans', sans-serif;
    color: #c0c0c0;
    font-size: 1.25em;
    float: left;
    
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

footer form input[type='text']:focus,
footer form input[type='text']:focus {
    color: #4B515B;
}

footer button {
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    float: right;
    height: 100%;
    border: 0;
    background: transparent;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

footer #button-file {
    right: 75px;
}

footer #send,
footer #create {
    right: 0;
}

footer button:hover {
    color: #3DA3A2;
}

footer #clear {
    right: 130px;
}



/* ==========================================================================
	JQEURY-UI CUSTOM
   ========================================================================== */

.ui-widget-overlay {
    opacity: 0.75 !important;
}

.ui-dialog-content.ui-widget-content {
    height: auto !important;
}

.ui-dialog {
    border: 0 !important;
    width: auto !important;
    max-width: 350px;
}

.ui-dialog-full + .ui-widget-overlay {
    opacity: 1 !important;
    background: #EDEEF0 !important;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.ui-dialog-content label {
    display: block;
    font-family: 'PT Sans', sans-serif;
}

.ui-dialog-content input[type="text"]:first-child {
    margin-bottom: 10px !important;
}

.ui-dialog-content input[type='text'], 
.ui-dialog-content input[type='number'], 
.ui-dialog-content input[type='email'],
.ui-dialog-content input[type='password'],
.ui-dialog-content textarea,
.ui-dialog-content button,
.ui-dialog-content input[type="submit"] {
    border: 0;
    border-bottom: 2px solid rgb(40, 40, 47);
    font-family: 'PT Sans', sans-serif;
    padding: 5px;
    background: transparent;
}

.ui-selectmenu-button.ui-button {
    width: 50px !important;
}

.ui-state-error {
    border-bottom: 2px solid red !important;
}

.ui-dialog-buttonset .ui-button {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    border: 4px solid rgb(40, 40, 47);
    background: transparent !important;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    font-size: 1.5em;
    
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .ui-button:focus {
    border: 4px solid rgb(40, 40, 47);
    font-weight: normal;
    color: #3DA3A2;
}

.ui-dialog-titlebar {
    border: 0 !important;
    background: transparent !important;  
}

.ui-dialog-titlebar-close {
    display: none !important;
}

.ui-dialog-buttonpane {
    border: 0 !important;
}

/* ==========================================================================
	MEDIA QUERIES FOR RESPONSIVE WEB DESIGN.
    FOR SIMPLICITY USE SAME QUERIES (PHONE, TABLET, etc.) 
   ========================================================================== */

@media only screen and (max-width: 48em),
@media only screen and (max-width: 60em),
@media only screen and (max-width: 78em) {
    
    #messages .message {
        max-width: 100%;
    }
    
    footer form input[type='text'] {
        width: 100%;
    }
    
    footer form button {
        display: none;
    }
    
    #chat-wrapper #messages {
        height: 85%;
    }

    footer {
        height: 15%;
    }
    
}